body{
    background-color: black;
}
h1{
    text-align: center; color: blue;
}
p{
    text-align: center;color: brown;
}
Logo Designer de Unhas Vintage Vermelho e Bege (1).png{
    width: 40%;
    position: absolute;


}